<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>roleCheck</key>
	<dict>
		<key>FlowTitle</key>
		<string>请查看身份</string>
		<key>FlowDetail</key>
		<string>请点击号码牌查看身份</string>
	</dict>
	<key>guardSomebody</key>
	<dict>
		<key>FlowTitle</key>
		<string>守卫请守人</string>
		<key>FlowDetail</key>
		<string>守卫请点击守护的号码牌</string>
	</dict>
	<key>werewolfKill</key>
	<dict>
		<key>FlowTitle</key>
		<string>狼人请杀人</string>
		<key>FlowDetail</key>
		<string>狼人请点击刀的号码牌</string>
	</dict>
	<key>witchCureOrPoison</key>
	<dict>
		<key>FlowTitle</key>
		<string>女巫请用药</string>
		<key>FlowDetail</key>
		<string>女巫请点击自己的号码牌查看死亡情况</string>
	</dict>
	<key>prophetCheck</key>
	<dict>
		<key>FlowTitle</key>
		<string>预言家请验人</string>
		<key>FlowDetail</key>
		<string>预言家请点击要验的号码牌</string>
	</dict>
	<key>hunterCanShootOrNot</key>
	<dict>
		<key>FlowTitle</key>
		<string>猎人请睁眼</string>
		<key>FlowDetail</key>
		<string>猎人请点击自己的号码牌查看是否能够使用技能</string>
	</dict>
	<key>sergeantCampaign</key>
	<dict>
		<key>FlowTitle</key>
		<string>警长竞选</string>
		<key>FlowDetail</key>
		<string>请竞选警长的玩家举手，发言结束后当选警长的玩家请点击自己的号码牌</string>
	</dict>
	<key>deadInfo</key>
	<dict>
		<key>FlowTitle</key>
		<string>死亡讯息</string>
		<key>FlowDetail</key>
		<string>如死者有遗言则发表遗言，如警长死亡可点击他人号码牌移交警徽</string>
	</dict>
	<key>showTime</key>
	<dict>
		<key>FlowTitle</key>
		<string>发言环节</string>
		<key>FlowDetail</key>
		<string>玩家发言结束后请点击自己的号码牌，如狼人自爆请双击自己的号码牌，而后直接进入黑夜</string>
	</dict>
	<key>voteTime</key>
	<dict>
		<key>FlowTitle</key>
		<string>公投环节</string>
		<key>FlowDetail</key>
		<string>请统计票数后点击出局玩家的号码牌，如平票进入平票PK</string>
	</dict>
</dict>
</plist>
